@font-face {
  font-family: "Neue-Machina";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 100% */
  src: url("Neue-Machina-Regular.woff2") format("woff2"),
    url("NeueMachina-Regular.woff") format("woff");
}

@font-face {
  font-family: "Neue-Machina";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
  src: url("Neue-Machina-Regular.woff2") format("woff2"),
    url("NeueMachina-Regular.woff") format("woff");
}

@font-face {
  font-family: "Neue-Machina";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  src: url("Neue-Machina-Regular.woff2") format("woff2"),
    url("NeueMachina-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lucida";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  src: url("Lucida-Sans-Unicode-Regular.ttf");
}

/* default */
@font-face {
  font-family: "Lucida";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  src: url("Lucida-Sans-Unicode-Regular.ttf");
}

@font-face {
  font-family: "Lucida";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  src: url("Lucida-Sans-Unicode-Regular.ttf");
}
