body {
  margin: 0;
  font-family: "Lucida", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(250, 250, 250, 1);
}

code {
  font-family: "Lucida", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
